.label {
  display: inline-flex;
  padding: 4px 8px;
  gap: 8px;
  align-items: center;
  border-radius: 28px;
  padding: 4px 14px;
  background: #dcfce7;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  color: #15803d;
}
